@model List<Amenhokit.Models.Game>


<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>
                Game ID
            </th>
            <th>
                Lane
            </th>
            <th>
                Date
            </th>
        </tr>

    </thead>    
    @foreach (var game in Model)
    {
        <tr>
            <td>@game.ID</td>
            <td>@game.Lane</td>
            <td>@game.Date</td>
        </tr>
    }
</table>