@model System.Collections.Generic.List<Amenhokit.Models.ViewModel.PlayerScore>

@{
    ViewBag.Title = "title";    
}


@foreach (var m in Model)
{
    <span>@m.Date</span><span>@m.Player.Name</span><span>@m.TotalScore</span><br />
}
