@model List<Amenhokit.Models.Player>
           

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>
                Player ID
            </th>
            <th>
                Name
            </th>
        </tr>
    </thead>
    @foreach (var player in Model)
    {
        <tr>
            <td>@player.ID</td>

            <td>@player.Name</td>
        </tr>
    }
</table>